body {
    background-color: #ACFFAC;
}
div {
    background-color: royalblue;
    color: whitesmoke;
    border-style: initial;
    word-spacing: 0in;
}
h3 {
    color: royalblue;
    font-size: 20px;
}
ul {
    font-size: 18px;
}
p {
    font-size: 18px;
}
.pr {
    color: grey;
    border: 10%;
    width: 20%;
    padding: 0.5%;
}
.ps {
    color: #660066
}
pre {
    font-size: 20px;
}
h1 {
    font-size: 50px;
}