body {
    color: forestgreen;
    background-color: rgb(204, 228, 168);
}
#h1 {
    font-size: 80px;
    display: flex;
    justify-content: center;
    font-style: oblique;
}
#h2 {
    color: rgb(241, 133, 9);
    font-size: 25px;
    font-style: oblique;
}
.p {
    font-size: 30px;
    
}
